{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" href="{% static '/css/crudapi/styles.css' %}">
</head>
<body>

    <h1>Notícias</h1>
    
    <div id="noticias-list">
        {% if noticias %}
            <ul>
                {% for noticia in noticias %}
                    <li>
                        <strong>{{ noticia.titulo }}</strong><br>
                        Subtítulo: {{ noticia.subtitulo }}<br>
                        Conteúdo: {{ noticia.conteudo }}<br>
                        <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" width="200">
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há notícias para exibir.</p>
        {% endif %}
    </div>

</body>
</html>
