
/* SESSÃO SLIDER */

section.slider{
  margin: 0 auto;
  max-width: 80%;
  max-height: 620px;
  padding: 0 !important;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 20px;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slide-box img{
  width: 100%;
  object-fit: cover; 
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #fff;   
  padding: 10px;
  border-radius: 50%;
  cursor: pointer; 
  transition: 1s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: #868686;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio1:checked ~ .nav-auto .auto-btn2, #radio1:checked ~ .nav-auto .auto-btn3{
  background-color: #868686;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

@media screen and (max-width: 900px) {
  .nav-auto, .nav-manual{
      margin-top: 60%;
  }
}
/* AVISOS */
section.avisos{
  background-color: #868686;
  height: 90px;
  width: 100%;
}

section.avisos{
  display: flex;
  align-items: center;
  justify-content: center;

}

/* FORMULÁRIO */

section.formulario{
  padding: 80px 4%;
}

.formulario h2{
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
form input{
  width: 100%;
  background-color: #2c2b2be3;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea{
  width: 100%;
  height: 150px;
  background-color: #2c2b2be3;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

.btn-primary{
  width: 30%;
  background-color: green;
  border: 0;
  outline: 0;
  padding: 15px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 28px;
}

/* Estilo SObre */

section.sobre{
  padding: 40px 4%;
}

.sobre .txt-sobre{
  color: #fff;
}

.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
  color: green;
  display: block;
}

.sobre .txt-sobre p{
  margin: 10px 0;
  text-align: justify;
}

section.sobre .flex{
  display: flex;
  align-items: center;
  gap: 60px;
}

/* botão sobre */

.sobre .txt-sobre .btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: green;
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
}
